/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
body {
  background-color: rgb(255, 255, 255);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 25px;
}

.card {
  border-radius: 10px;
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  flex-basis: 900px;
  min-height: 450px;
  overflow: hidden;
}

.card h1 {
  color: rgb(242, 242, 242);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1.6rem;
  margin-top: 30px;
  text-transform: uppercase;
}

.card p {
  color: rgba(255, 255, 255, .75);
  font-size: .9375rem;
  margin-top: 30px;
}

.card a {
  background-color: rgb(242, 242, 242);
  border: 1px solid transparent;
  border-radius: 20px;
  display: block;
  margin-top: 60px;
  max-width: 170px;
  padding: 10px;
  text-align: center;
  transition: background-color .5s, border .5s, color .5s;
}

.card a:hover {
  background-color: initial;
  border: 1px solid white;
  color: rgb(242, 242, 242);
}

.suvs, 
.luxury, 
.sedans {
  padding: 40px;
}

.sedans {
  background-color: #e28525;
}

.sedans a {
  color: #e28525;
}

.suvs {
  background-color: #016972;
}

.suvs a {
  color: #016972
}

.luxury {
  background-color: #00403f;
}

.luxury a {
  color: #00403f;
}

/* Responsive design */
@media (max-width: 991px) {
  .card {
    flex-wrap: wrap;
  }
}
