/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
  display: block;
}

a {
  text-decoration: none;
}

/* General styles */
body {
  background-color: #e5eff5;
  font-family: 'Karla', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 20px;
}

/* App component */ 
.app {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-basis: 650px;
}

/* App header section */
.app__header {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 40px;
}

.app__header-title {
  color: #2ab2af;
  font-size: 1.5rem;
  padding-bottom: 16px;
}

.app__header-subtitle {
  color: #c0df34;
  font-size: 1.2rem;
  padding-bottom: 11.2px;
}

.app__header-copy {
  color: hsl(218, 22%, 67%);
}

/* App main */
.app__main {
  display: flex;
}

/* App subscribe section */
.app__subscribe {
  background-color: #2ab2af;
  border-radius: 0 0 0 8px;
  flex: 50%;
  padding: 40px;
}

.app__subscribe-title {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 16px;
}

.app__subscribe-copy {
  color: #fff;
}

.price {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 10px;
  position: relative;
}

.sup {
  color: #90d6d8;
  font-size: 1rem;
  left: 75px;
  position: absolute;
  top: 12px;
}

.app__form {
  margin-top: 30px;
}

.app__btn {
  background-color: #bfdf32;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .8rem .6rem;
  transition: transform .3s ease-in-out;
  width: 100%;
}

.app__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.app__btn:focus { 
  outline: thin dotted; 
}

/* App about us section */
.app__about {
  background-color: #4abebd;
  border-radius: 0 0 8px 0;
  flex: 50%;
  padding: 40px;
}

.app__about-title {
  color: #fff;
  font-size: 1.2rem;
}

.app__about-list {
  padding: 20px 0 0;
}

.list {
  color: #fff;
}

/* Media Queries */
@media (max-width: 767px) {
  .app__main {
    flex-wrap: wrap;
  }

  .app__subscribe,
  .app__about {
    flex: 100%
  }

  .app__subscribe {
    border-radius: 0;
  }

  .app__about {
    border-radius: 0 0 8px 8px;
  }
}
