/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
  display: block;
}

a {
  text-decoration: none;
}

/* General styles */
body {
  background: #674baf url(images/bg-mobile.svg) no-repeat top center;
  background-size: contain;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.container {
  min-height: 100vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

header img {
  width: 160px;
}

/* Main */
.main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}

/* Main - Introduction section */
.main .intro {
 padding-top: 3rem;
}

.main h1 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.main p {
  padding-top: 1.5rem;
}

.main h1 span {
  display: block;
}

.main form {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.main button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  color: #674baf;
  display: block;
  font-size: 1rem;
  padding: .7rem 0;
  margin: 0 auto;
  width: 180px;
}

.main button:hover {
  cursor: pointer;
}

.main button:active {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.4);
  top: 3px;
}

/* Social icons section */
.icons {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
  width: 100%;
}

.icons div {
  padding: 0 .4rem;
}

.icons .fa-facebook {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  padding: .5rem .7rem;
}

.icons .fa-twitter {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  padding: .5rem;
}

.icons .fa-instagram {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  padding: .5rem;
}

.icons .fa-facebook:hover,
.icons .fa-instagram:hover,
.icons .fa-twitter:hover {
  cursor: pointer;
  background-color: #fff;  
}

.icons .fa-facebook:hover {
  color: #3b5998;
}

.icons .fa-twitter:hover {
  color: #1da1f2; 
}

.icons .fa-instagram:hover {
  color: #e44379; 
}

/* Footer */
footer {
  padding: 2rem 1rem;
  width: 100%;
}

.attribution { 
  font-size: .8rem; 
  text-align: center; 
}

.attribution a { 
  text-decoration: none;
}

.attribution a:hover {
  color: #fd889a;
}

@media screen and (min-width: 768px) {
  body {
    background: #674baf url(images/bg-desktop.svg) no-repeat top center;
    background-size: contain;
  }

  header img {
    width: 200px;
  }
  
  .main {
    flex-direction: row;
    padding-top: 6rem;
    text-align: unset;
  }

  .main .illustration, .main .intro {
    flex: 50%;
  }

  .main .intro {
    padding-left: 3rem;
  }

  .main h1 {
    font-size: 2rem;
  }

  .main button {
    font-size: 1.1rem;
    margin: 0;
    padding: .8rem 0;
  }
  
  .icons {
    align-items: flex-start;
    justify-content: flex-end;
  } 
}
