/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
  display: block;
}

a {
  text-decoration: none;
}

/* General styles */
body {
  background-color: #e5eff5;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  padding: 2.5rem 1.5rem;
}

/* The single price grid component */ 
.price-grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: flex;
  flex-basis: 650px;
  flex-direction: column;
  flex-wrap: wrap;
}

/* The introduction section */
.intro {
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  padding: 2.1rem;
}

.intro h1 {
  color: #2ab2af;
  padding-bottom: 1rem;
}

.intro h2 {
  color: #c0df34;
  padding-bottom: .7rem;
}

.intro p {
  color: gray;
  line-height: 1.5;
}

/* The main container */
.main {
  display: flex;
  flex-wrap: wrap;
}

.main h2 {
  color: #fff;
  padding-bottom: 1rem;
}

/* The subscription section */
.subscribe {
  background-color: #2ab2af;
  border-radius: 0;
  flex: 100%;
  padding: 1.8rem 2.1rem 1.5rem;
}

.subscribe h3 {
  color: #f9f6f2;
}

.subscribe .price {
  color: #fff;
  font-size: 2rem;
  position: relative;
  padding-right: 1rem;
  padding-bottom: 1.1rem;
}

.subscribe .price span {
  color: #e1d3c1;
  font-size: 1rem;
  position: absolute;
  top: .6rem;
  left: 4rem;
}

.subscribe form {
  margin-top: 2.5rem;
}

.subscribe button {
  background-color: #bfdf32;
  border: none;
  border-radius: 6px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  color: #fff;
  display: ;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .8rem .6rem;
  width: 100%;
}

.subscribe button:hover {
  cursor: pointer;
}

/* The about us section */
.about {
  background-color: #4abebd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: 100%;
  padding: 1.8rem 2.1rem 1.5rem;
}

.about ul li {
  color: #f9f6f2;
  padding: .1rem 0;
}

/* The footer */
footer {
  flex-basis: 100%;
}

.attribution { 
  font-size: .9rem; 
  padding: 2rem 1rem;
  text-align: center; 
}

.attribution a { 
  color: #3e52a3; 
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .subscribe, 
  .about {
    flex: 50%;
  }

  .subscribe {
    border-bottom-left-radius: 5px;
  }

  .subscribe button {
    backface-visibility: hidden;
    transform: perspective(1px);
    transition: transform .3s ease-in-out;
  }

  .subscribe button:hover {
    box-shadow: 0px 0px 150px rgba(0,0,0,0.3);
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .about {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
  }
}
